USE master;
GO

IF NOT EXISTS (SELECT databases.name FROM sys.databases WHERE databases.name LIKE 'pubsDev') CREATE DATABASE PubsTest;
GO

USE pubsDev;
GO
--
SET NOEXEC OFF;
IF Object_Id('tempdb..#titles') IS NOT NULL DROP TABLE #titles

--delete the views and procadures
IF Object_Id('dbo.titleView') IS NOT NULL DROP VIEW dbo.titleview;
IF Object_Id('dbo.ByRoyalty') IS NOT NULL DROP PROCEDURE dbo.byroyalty;
IF Object_Id('classic.titles') IS NOT NULL DROP VIEW classic.titles;
IF Object_Id('dbo.reptq1') IS NOT NULL DROP PROCEDURE dbo.reptq1;
IF Object_Id('dbo.reptq2') IS NOT NULL DROP PROCEDURE dbo.reptq2;
IF Object_Id('dbo.reptq3') IS NOT NULL DROP PROCEDURE dbo.reptq3;

--delete the tables in order
IF Object_Id('dbo.employee') IS NOT NULL DROP TABLE dbo.employee;
IF Object_Id('dbo.roysched') IS NOT NULL DROP TABLE dbo.roysched;
IF Object_Id('dbo.sales') IS NOT NULL DROP TABLE dbo.sales;
IF Object_Id('dbo.pub_info') IS NOT NULL DROP TABLE dbo.pub_info;
IF Object_Id('dbo.titleauthor') IS NOT NULL DROP TABLE dbo.titleauthor;
IF Object_Id('dbo.discounts') IS NOT NULL DROP TABLE dbo.discounts;
IF Object_Id('dbo.TagTitle') IS NOT NULL DROP TABLE dbo.TagTitle;
IF Object_Id('dbo.titles') IS NOT NULL DROP TABLE dbo.titles;
IF Object_Id('dbo.TagName') IS NOT NULL DROP TABLE dbo.TagName;
IF Object_Id('dbo.authors') IS NOT NULL DROP TABLE dbo.authors;
IF Object_Id('dbo.jobs') IS NOT NULL DROP TABLE dbo.jobs;
IF Object_Id('dbo.publishers') IS NOT NULL DROP TABLE dbo.publishers;
IF Object_Id('dbo.stores') IS NOT NULL DROP TABLE dbo.stores;

-- now we can drop the types
DROP TYPE IF EXISTS dbo.id;
DROP TYPE IF EXISTS dbo.tid;
DROP TYPE IF EXISTS dbo.empid;
DROP TYPE IF EXISTS dbo.dollars;

IF EXISTS (SELECT schemas.name FROM sys.schemas WHERE schemas.name = 'classic')
  DROP SCHEMA classic;


-- create schemas
GO
CREATE SCHEMA Classic;
GO
-- and re-create types
CREATE TYPE dbo.Dollars FROM  NUMERIC(9, 2) NOT NULL;
CREATE TYPE dbo.id FROM NVARCHAR(11) NOT NULL;
CREATE TYPE dbo.tid FROM NVARCHAR(8) NOT NULL;
CREATE TYPE dbo.empid FROM CHAR(9) NOT NULL;

GO
/* table of book authors together with their phone numbers and addresses */
CREATE TABLE authors
  (
  au_id id
    CONSTRAINT CheckAu_ID_Numeric --
    CHECK (au_id LIKE '[0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9][0-9][0-9]') CONSTRAINT UPKCL_auidind PRIMARY KEY CLUSTERED,
  au_lname NVARCHAR(80) NOT NULL,
  au_fname NVARCHAR(40) NOT NULL,
  phone VARCHAR(12) NOT NULL CONSTRAINT PhoneNotKnown DEFAULT ('UNKNOWN'),
  address NVARCHAR(100) NULL,
  city NVARCHAR(40) NULL,
  state CHAR(2) NULL,
  zip CHAR(5) NULL CONSTRAINT checkZip --
                   CHECK (zip LIKE '[0-9][0-9][0-9][0-9][0-9]'),
  contract BIT NOT NULL
  );

GO
/* Table of publishers and their location */
CREATE TABLE publishers
  (
  pub_id CHAR(8) NOT NULL CONSTRAINT UPKCL_pubind PRIMARY KEY CLUSTERED
    CONSTRAINT GetPubidright --
    CHECK (pub_id IN ('1389', '0736', '0877', '1622', '1756')
        OR pub_id LIKE '99[0-9][0-9]'
          ),
  pub_name NVARCHAR(80) NULL,
  city NVARCHAR(40) NULL,
  state CHAR(2) NULL,
  country VARCHAR(30) NULL CONSTRAINT godsOwnCountry DEFAULT ('USA')
  );

GO
/* titles, when published, their price, total sales, year-to-date sales, advance, royalty  and notes */
CREATE TABLE titles
  (
  title_id tid CONSTRAINT UPKCL_titleidind PRIMARY KEY CLUSTERED,
  title VARCHAR(80) NOT NULL,
  pub_id CHAR(8) NULL CONSTRAINT FK_TitlesPublishers --
                      FOREIGN KEY REFERENCES dbo.publishers (pub_id),
  price dbo.Dollars NULL,
  advance dbo.Dollars NULL,
  royalty INT NULL,
  ytd_sales INT NULL,
  notes VARCHAR(200) NULL,
  pubdate DATETIME NOT NULL CONSTRAINT NowDefault DEFAULT (GetDate())
  );

GO
/* the unique collection of types of book, with one primary tag, showing where
they should be displayed. No book can have more than one tag and should have at
least one.*/
CREATE TABLE TagName --
  (TagName_ID INT IDENTITY(1, 1) CONSTRAINT TagnameSurrogate PRIMARY KEY, 
     Tag VARCHAR(20) NOT NULL CONSTRAINT Uniquetag UNIQUE);

GO
CREATE TABLE TagTitle
  /* relationship table allowing more than one tag for a publication */
  (
  TagTitle_ID INT IDENTITY(1, 1),
  title_id dbo.tid NOT NULL CONSTRAINT FKTitle_id REFERENCES dbo.titles
                                                    (title_id),
  Is_Primary BIT NOT NULL CONSTRAINT NotPrimary DEFAULT 0,
  TagName_ID INT NOT NULL CONSTRAINT fkTagname --
                          REFERENCES dbo.TagName (TagName_ID),
  CONSTRAINT PK_TagNameTitle --
    PRIMARY KEY CLUSTERED (title_id ASC, TagName_ID) ON [PRIMARY]
  );

/* relationship table allowing more than one author per book, each author
being allowed a different royalty percentage, and a different order in the 
list */
CREATE TABLE titleauthor
  (
  au_id id CONSTRAINT FK_TitleauthorAuthors --
           FOREIGN KEY REFERENCES dbo.authors (au_id),
  title_id tid CONSTRAINT FK_TitleauthorTitles --
               FOREIGN KEY REFERENCES dbo.titles (title_id),
  au_ord TINYINT NULL,
  royaltyper INT NULL,
  CONSTRAINT UPKCL_taind PRIMARY KEY CLUSTERED (au_id, title_id)
  );

GO
/*  stores that are known to order copies of the publications */
CREATE TABLE stores
  (
  stor_id CHAR(8) NOT NULL CONSTRAINT UPK_storeid PRIMARY KEY CLUSTERED,
  stor_name NVARCHAR(80) NULL,
  stor_address NVARCHAR(80) NULL,
  city NVARCHAR(40) NULL,
  state CHAR(2) NULL,
  zip CHAR(5) NULL
  );

GO
/*  record of sales to book stores */
CREATE TABLE sales
  (
  stor_id CHAR(8) NOT NULL CONSTRAINT FK_salesStores --
                           FOREIGN KEY REFERENCES dbo.stores (stor_id),
  ord_num NVARCHAR(40) NOT NULL,
  ord_date DATETIME NOT NULL,
  qty SMALLINT NOT NULL,
  payterms VARCHAR(12) NOT NULL,
  title_id tid CONSTRAINT FK_salesTitles --
               FOREIGN KEY REFERENCES dbo.titles (title_id),
  CONSTRAINT UPKCL_sales PRIMARY KEY CLUSTERED (stor_id, ord_num, title_id)
  );

GO
/* the schedfule of royalties for individual books */
CREATE TABLE roysched
  (
  title_id tid CONSTRAINT FK_RoySchedTitles --
               FOREIGN KEY REFERENCES dbo.titles (title_id),
  lorange INT NULL,
  hirange INT NULL,
  royalty INT NULL
  );

GO

CREATE TABLE discounts
  (
  discounttype NVARCHAR(80) NOT NULL,
  stor_id CHAR(8) NULL CONSTRAINT FK_DiscountsStore --
                       FOREIGN KEY REFERENCES dbo.stores (stor_id),
  lowqty SMALLINT NULL,
  highqty SMALLINT NULL,
  discount DEC(4, 2) NOT NULL
  );

GO

CREATE TABLE jobs
  (
  Job_id INT IDENTITY(1,1) CONSTRAINT JobsKey PRIMARY KEY,
  job_desc VARCHAR(50) NOT NULL
    CONSTRAINT UndecidedJobDesc DEFAULT 'New Position - title not formalized yet',
  min_lvl TINYINT NOT NULL CONSTRAINT UndecidedMinSalary CHECK (min_lvl >= 10),
  max_lvl TINYINT NOT NULL CONSTRAINT UndecidedMaxSalary CHECK (max_lvl <= 250)
  
  );

GO

CREATE TABLE pub_info
  (
  pub_id CHAR(8) NOT NULL --
    CONSTRAINT FK_Pub_infoPublishers --
    FOREIGN KEY REFERENCES dbo.publishers (pub_id) CONSTRAINT UPKCL_pubinfo PRIMARY KEY CLUSTERED,
  logo image NULL,
  pr_info text NULL
  );

GO

CREATE TABLE employee
  (
  emp_id empid CONSTRAINT PK_emp_id PRIMARY KEY NONCLUSTERED
    CONSTRAINT CK_emp_id CHECK (emp_id LIKE '[A-Z][A-Z][A-Z][1-9][0-9][0-9][0-9][0-9][FM]'
                             OR emp_id LIKE '[A-Z]-[A-Z][1-9][0-9][0-9][0-9][0-9][FM]'
                               ),
  fname NVARCHAR(40) NOT NULL,
  minit CHAR(1) NULL,
  lname VARCHAR(30) NOT NULL,
  job_id INT NOT NULL CONSTRAINT LetsMakeItOne DEFAULT 1 --
    CONSTRAINT FK_EmployeeJobs FOREIGN KEY REFERENCES dbo.jobs (job_id),
  job_lvl TINYINT CONSTRAINT DefaultToTen DEFAULT 10,
  pub_id CHAR(8) NOT NULL
    CONSTRAINT HighNumber DEFAULT ('9952') --
    CONSTRAINT FK_EmployeePublishers FOREIGN KEY REFERENCES dbo.publishers
                                       (pub_id),
  hire_date DATETIME NOT NULL CONSTRAINT CouldBeToday DEFAULT (GetDate())
  );

GO

PRINT 'Now at the create trigger section ...';

GO

CREATE TRIGGER employee_insupd
ON dbo.employee
FOR INSERT, UPDATE
AS
--Get the range of level for this job type from the jobs table.
DECLARE @min_lvl TINYINT, @max_lvl TINYINT, @emp_lvl TINYINT, @job_id SMALLINT;
SELECT @min_lvl = j.min_lvl, @max_lvl = j.max_lvl, @emp_lvl = i.job_lvl,
  @job_id = i.job_id
  FROM dbo.employee AS e
    INNER JOIN inserted AS i
      ON e.emp_id = i.emp_id
    INNER JOIN dbo.jobs AS j
      ON i.job_id = j.job_id;
IF (@job_id = 1) AND (@emp_lvl <> 10)
  BEGIN
    RAISERROR('Job id 1 expects the default level of 10.', 16, 1);
    ROLLBACK TRANSACTION;
  END;
ELSE IF NOT (@emp_lvl BETWEEN @min_lvl AND @max_lvl)
       BEGIN
         RAISERROR(
                    'The level for job_id:%d should be between %d and %d.',
                    16,
                    1,
                    @job_id,
                    @min_lvl,
                    @max_lvl
                  );
         ROLLBACK TRANSACTION;
       END;

GO


CREATE CLUSTERED INDEX employee_ind ON dbo.employee (lname, fname, minit);
GO
CREATE NONCLUSTERED INDEX aunmind ON dbo.authors (au_lname, au_fname);
GO
CREATE NONCLUSTERED INDEX titleidind ON dbo.sales (title_id);
GO
CREATE NONCLUSTERED INDEX titleind ON dbo.titles (title);
GO
CREATE NONCLUSTERED INDEX auidind ON dbo.titleauthor (au_id);
GO
CREATE NONCLUSTERED INDEX titleidind ON dbo.titleauthor (title_id);
GO
CREATE NONCLUSTERED INDEX titleidind ON dbo.roysched (title_id);
GO

PRINT 'Now at the create view section ....';

GO

CREATE VIEW titleview
AS
SELECT t.title, ta.au_ord, a.au_lname, t.price, t.ytd_sales, t.pub_id
  FROM dbo.authors AS a
    INNER JOIN dbo.titleauthor AS ta
      ON a.au_id = ta.au_id
    INNER JOIN dbo.titles AS t
      ON t.title_id = ta.title_id;

GO

CREATE VIEW Classic.titles
AS
SELECT titles.title_id, titles.title, Coalesce(TN.Tag, 'Undecided') AS type,
  titles.pub_id, titles.price, titles.advance, titles.royalty,
  titles.ytd_sales, titles.notes, titles.pubdate
  FROM dbo.titles AS titles
    LEFT OUTER JOIN dbo.TagTitle Tagtitle
      ON TagTitle.title_id = titles.title_id
    INNER JOIN dbo.TagName AS TN
      ON TN.TagName_ID = TagTitle.TagName_ID
  WHERE TagTitle.Is_Primary = 1;
GO



PRINT 'Now at the create procedure section ....';

GO

CREATE PROCEDURE byroyalty @percentage INT
AS
  BEGIN
    SELECT titleauthor.au_id
      FROM dbo.titleauthor AS titleauthor
      WHERE titleauthor.royaltyper = @percentage;
  END;
GO

CREATE PROCEDURE reptq1
AS
  BEGIN
    SELECT CASE WHEN Grouping(titles.pub_id) = 1 THEN 'ALL' ELSE titles.pub_id END AS pub_id,
      Avg(titles.price) AS avg_price
      FROM dbo.titles AS titles
      WHERE titles.price IS NOT NULL
      GROUP BY titles.pub_id WITH ROLLUP
      ORDER BY pub_id;
  END;
GO

CREATE PROCEDURE dbo.reptq2
AS
  BEGIN
    SELECT CASE WHEN Grouping(TN.tag) = 1 THEN 'ALL' ELSE TN.Tag END AS type,
      CASE WHEN Grouping(titles.pub_id) = 1 THEN 'ALL' ELSE titles.pub_id END AS pub_id,
      Avg(titles.ytd_sales) AS avg_ytd_sales
      FROM dbo.titles AS titles
        INNER JOIN dbo.TagTitle AS TagTitle
          ON TagTitle.title_id = titles.title_id
        INNER JOIN dbo.TagName AS TN
          ON TN.TagName_ID = TagTitle.TagName_ID
      WHERE titles.pub_id IS NOT NULL AND TagTitle.Is_Primary = 1
      GROUP BY titles.pub_id, TN.Tag WITH ROLLUP;
  END;

GO
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO

CREATE PROCEDURE dbo.reptq3 @lolimit dbo.Dollars, @hilimit dbo.Dollars,
  @type CHAR(12)
AS
  BEGIN
    SELECT CASE WHEN Grouping(titles.pub_id) = 1 THEN 'ALL' ELSE titles.pub_id END AS pub_id,
      CASE WHEN Grouping(TN.tag) = 1 THEN 'ALL' ELSE TN.Tag END AS type,
      Count(titles.title_id) AS cnt
      FROM dbo.titles AS titles
        INNER JOIN dbo.TagTitle AS TagTitle
          ON TagTitle.title_id = titles.title_id
        INNER JOIN dbo.TagName AS TN
          ON TN.TagName_ID = TagTitle.TagName_ID
      WHERE titles.price > @lolimit
        AND TagTitle.Is_Primary = 1
        AND titles.price < @hilimit
        AND TN.Tag = @type
         OR TN.Tag LIKE '%cook%'
      GROUP BY titles.pub_id, TN.Tag WITH ROLLUP;
  END;
GO






GO

RAISERROR('Now at the inserts to publishers ....', 0, 1);

GO

INSERT publishers VALUES
( '0736    ', N'New Moon Books', N'Boston', 'MA', 'USA' ), 
( '0877    ', N'Binnet & Hardley', N'Washington', 'DC', 'USA' ), 
( '1389    ', N'Algodata Infosystems', N'Berkeley', 'CA', 'USA' ), 
( '1622    ', N'Five Lakes Publishing', N'Chicago', 'IL', 'USA' ), 
( '1756    ', N'Ramona Publishers', N'Dallas', 'TX', 'USA' ), 
( '9901    ', N'GGG&G', N'M?nchen', NULL, 'Germany' ), 
( '9952    ', N'Scootney Books', N'New York', 'NY', 'USA' ), 
( '9999    ', N'Lucerne Publishing', N'Paris', NULL, 'France' )

GO

RAISERROR('Now at the inserts to pub_info ....', 0, 1);

GO










RAISERROR('Now at the inserts to titles ....', 0, 1);

CREATE TABLE #titles(
	[title_id] NVARCHAR(80) NOT NULL,
	[title] [varchar](80) NOT NULL,
	[type] [char](12) NOT NULL,
	[pub_id] [char](4) NULL,
	[price] [money] NULL,
	[advance] [money] NULL,
	[royalty] [int] NULL,
	[ytd_sales] [int] NULL,
	[notes] [varchar](200) NULL,
	[pubdate] [datetime] NOT NULL)
GO
ALTER TABLE #titles ADD  DEFAULT ('UNDECIDED') FOR [type]
GO

ALTER TABLE #titles ADD  DEFAULT (getdate()) FOR [pubdate]
GO

 
INSERT into #titles (title_id, title, pub_id)
VALUES
  ('MC3026', 'The Psychology of Computer Cooking', '0877');

INSERT into #titles (title_id, title, type, pub_id, notes)
VALUES
  ('PC9999', 'Net Etiquette', 'popular_comp', '1389',
'A must-read for computer conferencing.');

GO

INSERT into titles (title_id, title,  pub_id,
       price, advance, royalty, ytd_sales,
       notes, pubdate)
SELECT #titles.title_id, #titles.title,  #titles.pub_id,
       #titles.price, #titles.advance, #titles.royalty, #titles.ytd_sales,
       #titles.notes, #titles.pubdate FROM #titles

RAISERROR('Now at the inserts to titleauthor ....', 0, 1);

GO

RAISERROR('Now at the inserts to stores ....', 0, 1);

GO

INSERT stores VALUES
( '6380    ', N'Eric the Read Books', N'788 Catamaugus Ave.', N'Seattle', 'WA', '98056' ), 
( '7066    ', N'Barnum''s', N'567 Pasadena Ave.', N'Tustin', 'CA', '92789' ), 
( '7067    ', N'News & Brews', N'577 First St.', N'Los Gatos', 'CA', '96745' ), 
( '7131    ', N'Doc-U-Mat: Quality Laundry and Books', N'24-A Avogadro Way', N'Remulade', 'WA', '98014' ), 
( '7896    ', N'Fricative Bookshop', N'89 Madison St.', N'Fremont', 'CA', '90019' ), 
( '8042    ', N'Bookbeat', N'679 Carson St.', N'Portland', 'OR', '89076' )

GO

RAISERROR('Now at the inserts to sales ....', 0, 1);

GO


GO

RAISERROR('Now at the inserts to roysched ....', 0, 1);

GO


PRINT 'Now at the inserts to discounts ....'

GO

INSERT discounts VALUES
( N'Initial Customer', NULL, NULL, NULL, 10.50 ), 
( N'Volume Discount', NULL, 100, 1000, 6.70 ), 
( N'Customer Discount', '8042    ', NULL, NULL, 5.00 )

GO

PRINT 'Now at the inserts to jobs ....';

GO

INSERT jobs (job_desc, min_lvl, max_lvl)
Values
( 'New Hire - Job not specified', 10, 10 ), 
( 'Chief Executive Officer', 200, 250 ), 
( 'Business Operations Manager', 175, 225 ), 
( 'Chief Financial Officier', 175, 250 ), 
( 'Publisher', 150, 250 ), 
( 'Managing Editor', 140, 225 ), 
( 'Marketing Manager', 120, 200 ), 
( 'Public Relations Manager', 100, 175 ), 
( 'Acquisitions Manager', 75, 175 ), 
(  'Productions Manager', 75, 165 ), 
(  'Operations Manager', 75, 150 ), 
(  'Editor', 25, 100 ), 
(  'Sales Representative', 25, 100 ), 
(  'Designer', 25, 100 )
GO

RAISERROR('Now at the inserts to employee ....', 0, 1);

GO


INSERT INTO TagName (Tag) SELECT DISTINCT type FROM #titles;

INSERT INTO TagTitle (title_id,Is_Primary,TagName_ID)
  SELECT title_id, 1, TagName_ID FROM #titles 
    INNER JOIN TagName ON #titles.type = TagName.Tag;